# 開発用env
# 本番環境の値はconfigとrep secretsで指定
PROFILE=develop

TOKEN=
CLAUDE_API_KEY=

CLIENT_ID=

CHANNEL_ID_1=
CHANNEL_ID_2=

SPECIAL_CHANNEL_ID_1=
SPECIAL_CHANNEL_ID_2=

SYSTEM_PLAN=
SPECIAL_SYSTEM_PLAN=

# メッセージを監視するチャンネルID
SPECIAL_SYSTEM_PLAN_CHANNEL_ID=

SP_MODEL=claude-3-5-sonnet-20241022
NL_MODEL=claude-3-5-haiku-20241022

VERIFY_ROLE_ID=
EMAIL_USER=
EMAIL_PASS=

INVITE_LINK=